*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



/* CONTENIDO */

h1{
    padding: 20px;
    text-align: center;
    font-size: 40px;
}

.content-main{
    margin: 10px 5%;
    font-size: 18px;
}

.content-main h2{

    padding: 15px 0;

}

.list-1{
    padding-left: 25px;

}

.list-2{
    padding-left: 50px;
}


.subir{
    margin: 30px 0;
}

.subir-bttn{
    font-size: 20px;
    padding: 15px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    transition: .5s;
}

.plant{
    font-size: 20px;
    padding: 15px;
    background-color: rgb(255, 145, 2);
    color: white;
    text-decoration: none;
    border-radius: 20px;
    transition: .5s;
}

.subir a:hover{
    background-color: greenyellow;
    color: black;
}

ul{
    margin-left: 100px;
}

h3{
    margin-top: 15px;
}